
@media only screen and (max-width:768px){
    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }

/* HEADER */
    .header{
        background-image: url(images/bg1.png);
        /* background-size: cover; */
    
    }
    h1 {
        font-size: 8em;
        color: #FFE9E9;
        font-family: 'Cormorant Garamond', serif;
        line-height: 60%;
        padding-top: 15%;
        padding-bottom: 65%;
        margin-top: 0.4em;
    }
    .link {
        height: 5vh;
        margin-top: 3em;
        margin-left: 3em;
        margin-right: -7em;
    }

    h2 {
        margin-left: 0em;
        margin-right: -1em;
        font-size: 50px;
        margin-top: 2em;
        padding-bottom: 10%;
        line-height: 1em;
        width: 330px;
    }
    .darkp {
        margin-top: 0;
        margin-bottom: 1rem;
        margin-right: 2em;
    }
    h5 {
        font-size: 20px;
        padding-top: 2em;
    }
    .bookp {
        font-size: 18px;
    }
    .btn-danger {
        font-size: 20px;
    }
    .blogimg {
        padding: 10%;
        height: 30vh;
        margin-left: -1em;
    }
/* BOOKINGS */
.headerb {
    height: 74vh;
    background-size: cover;
}
.bookings {
    font-size: 8em;
    padding-bottom: 26px;
}
.buttonimg {
    margin-left: 4em;
}
.buttonh {
    margin-left: 0em;
    width: 193px;
    font-size: 40px;
}
.entry{
    margin-left: 1em;
}
.bookmum {
    height: 110vh;
}
h3 {
    font-size: 45px;
    padding-top: 0em;
}
.days {
    margin-right: 4em;
}
.bookadv {
    padding-top: 3em;
}
.hpo {
    margin-left: 3em;
}
.hpe {
    margin-left: 1em;
}
.hpl {
    margin-right: 2em;
    margin-left: 1em;
    margin-top: 0.5em;
}
.visitp {
    margin-right: 0em;
}



/* exhibits */

.exhibitsmp {
    padding-bottom: 5em;
    margin-right: 0em;
    font-size: 85%;
}

.exhibitimg {
    height: 22vh;
}
.exhibitsp {
    padding-top: 5em;
    padding-bottom: 1em;
}
.exhibith {
    margin-left: 1em;
    font-size: 8em;
}



/* FOOTER */
.footerp {
    margin-right: 0em;
    margin-left: -20em;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 3em;
}
.footercopy {
    margin-top: 11em;
    margin-right: 0em;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-right: 17em;
    color: #FFE9E9;
    font-weight: 100;
}
.experience {
    /* margin-left: 2em; */
    margin-top: 0em;
    margin-right: -1em;
    padding-top: 19em;
    padding-left: 2;
    color: #FFE9E9;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}


/* blog page seperates */
.consignh {
    font-size: 7em;
}
.headerc {
    height: 85vh;
}
.pc {
    padding-top: 4em;
    margin-right: 0em;
}
.pcmove{
    margin-right: 0em;
}
.consignmove {
    margin-left: -3em;
    margin-right: 0em;
}
.paddingpc {
    margin-right: 0em;
    margin-bottom: 4em;
}
.consignimg {
    padding-top: 4em;
}



.historyh {
    padding-bottom: 0em;
    text-align: center;
    padding-top: 2.65em;
}
.ph {
    padding-top: 7em;
    margin-right: 0em;
}

.phmove {
    padding-top: 1em;
    margin-right: 0em;
}

.historymove {
    margin-left: 0em;
    padding-top: 1em;
    margin-right: 0em;
}

.paddingph {
    margin-bottom: 4em;
    margin-right: 0em;
}

.historyh {
    padding-bottom: 0em;
    text-align: center;
    padding-top: 2.65em;
    font-size: 5em;
}




.inouth {
    padding-bottom: 0em;
    text-align: center;
    padding-top: 2.65em;
}

.pin {
    padding-top: 4em;
    margin-right: 0em;
}

.pinmove{
    margin-right: 0em;
}
.inoutmove {
    margin-left: 0em;
    padding-top: 0em;
    margin-right: 0em;
}
.paddingpin {
    margin-bottom: 2em;
    margin-right: 0em;
}


}

@media only screen and (max-width:576px){
    .footerp{
        margin-left: -1em;
    }
    .link {
        height: 5vh;
        margin-top: 8em;
        margin-left: -2em;
        margin-right: -3em;
    }
    h1{
        padding-bottom: 2%;
        padding-top: 1%;
    }
    .experience {
        margin-right: -1em;
        padding-top: 5em;
    }
    .header{
        background-image: url(images/mobilebg.png);
        background-size: cover;

    }
    .btn-dangerh {
        margin-bottom: 3em;
    }
    h3 {
        font-size: 45px;
        padding-top: 1em;
    }
    h2 {
        /* margin-left: 0em; */
        margin-right: 0em;
        /* padding-left: 0.25em; */
        padding-right: -0.25em;
        font-size: 50px;
        margin-top: 2em;
        padding-bottom: 10%;
        line-height: 1em;
        width: 330px;
        text-align: center;
    }
    .blogimg {
        padding: 10%;
        height: 50vh;
        margin-left: -1em;
    }
    .btn-danger {
        font-size: 20px;
        margin-bottom: 3em;
    }



/* bookings */
    .visit {
        padding-top: 0em;
    }

.btn-dangerb {
    margin-bottom: 4em;
}
.bookmum {
    height: 110vh;
    margin-left: 2.5em;
    padding-top: 5em;
    margin-bottom: -7em;
}
.buttonimg {
    margin-left: 15em;
}
.buttonh {
    margin-left: 4em;
    width: 193px;
    font-size: 40px;
}
.hpo {
    margin-left: 13em;
}
.entry {
    margin-left: 4em;
}
.hpe {
    margin-left: 10em;
}
.hpl {
    margin-right: 2em;
    margin-left: 9em;
    margin-top: 0.5em;
}
.bookings {
    font-size: 5em;
    padding-bottom: 26px;
    line-height: 70%;
    margin-top: 2.5em;
}





/* exhibits */
.exhibitsmp {
    padding-bottom: 5em;
    margin-right: 8em;
    margin-left: 8em;
    font-size: 85%;
    text-align: center;
}
.exhibitimg {
    height: 28vh;
    margin-left: 8em;
}
h4 {
    margin-left: 5em;
}
.exhibith {
    margin-left: 1em;
    font-size: 6em;
    margin-top: 1em;
}


/* blog post seperates */
.consignh {
    font-size: 5em;
}
.headerc {
    height: 64vh;
}
.consignimg {
    padding-top: 4em;
    padding-left: -1em;
    height: 64vh;
}
.consignmove {
    padding-top: 4em;
    margin-left: 0em;
    margin-right: 1em;
}
.pcmove {
    margin-right: 0em;
    margin-left: 1em;
}
.paddingpc {
    margin-right: 0em;
    margin-bottom: 2em;
    margin-left: 1em;
}
.pc {
    padding-top: 4em;
    margin-right: 0em;
    margin-left: 1em;
}




.historyh {
    padding-bottom: 0.5em;
    text-align: center;
    padding-top: 2.65em;
    font-size: 5em;
}

.historyimg {
    padding-top: 1em;
    padding-bottom: 2em;
    height: 50vh;
    margin-left: 3em;
}
.phmove {
    padding-top: 1em;
    margin-right: 0em;
    margin-left: 1em;
}
.paddingph {
    margin-bottom: 4em;
    margin-right: 0em;
    margin-left: 1em;
}
.ph {
    padding-top: 4em;
    margin-right: 0em;
}


.inouth {
    padding-top: 3.2em;
    font-size: 5em;
}

.inoutimg {
    height: 45vh;
    margin-left: 4em;
}
.pinmove {
    margin-left: 1em;
}
.paddingpin {
    margin-left: 1em;
}

.pin {
    margin-left: 1em;
}
}